@import "normalize.styl"

fondito = #DF4561
fondo = #414141
gris_claro = #818181
login = #F2F2F2
azul = #52A7F9

body 
	background fondo
	font-family: 'Open Sans', sans-serif;
	font-size 16px
figure 
	margin 0
img
	width 80px
	height 80px
input
	border none
	border-radius 0
	box-sizing border-box	
	color fondo
	font-size 1.2em
	height 3.5em
	margin-top 2em
	padding 0 1em
	text-align center
	width 100%
input[type=submit]
	background azul
	color white
	height 2.6em
.container
	background login
	margin 5em 2em 3em 2em
	padding 4.5em 1.5em 4em 1.5em
	position relative
.title
	font-size 1.7em
	font-weight 100
	margin 0
	text-align center
.user
	height 80px
	left 0
	margin 0 auto
	position absolute
	right 0
	top -40px
	width 80px
@media screen and (min-width:480px)
	img
		width 100px
		height 100px
	.user
		height 100px
		top -50px
		width 100px
@media screen and (min-width:1010px)
	input
		float left
		width 31.25%
		height 2.6em
	input[type=text]
	input[type=password]
		margin-right 1em
	.container
		height 10em
		margin 7em 10em 3em 10em
		padding 4.5em 2em 4em 2em
	.login
		width 100%
		margin 0 auto