gris = #D5D5D5
letra_gris = #2E373A
temperatura = #0C758E
humedad = #9C0000

html
	font-family 'Open Sans', sans-serif
	font-size 16px
p
	margin 0 0 .3em 0
	padding 0


.piece
	background white
	color letra_gris
	font-size 1.5em
	height 5em
	margin 0 1em .8em
	padding  .5em
	position relative
	width auto
	box-shadow 2px 2px 5px #888888
.info
	padding .5em
	text-decoration none
	color letra_gris
.land
	position absolute
	top 0
	bottom 0
	left 0
	right 0
.metric
	position absolute
	bottom 0
	right 10px
	p
		font-size 1.2rem
	.temperatura
		color temperatura
	.humedad
		color humedad
@media screen and (min-width:682px)
	.piece 
		width 41%
		float left
		margin 0 0 .8em 1em
		&:nth-child(even)
			margin-right 1em
			float right
@media screen and (min-width:950px)
	.piece
		width 42%
@media screen and (min-width:1220px)
	.piece
		width 44%