<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Ámbar</title>

		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="../css/principal.css" />
		<link rel="stylesheet" href="../css/pieces.css">
		<link rel="stylesheet" href="../css/pushy.css">
		<link href='../img/1.png' rel='shortcut icon' type='image/png'>

		<script src="../js/jquery-2.1.1.min.js"></script>
		<script src="../js/pushy.js"></script>
	</head>
	<body>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Ámbar
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar"/>
					<input type="submit"/>
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="../index.html"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="profile.html"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<li class="item">
				<a href="salas.html">
					<span class="icon-stats"></span>
					Salas
				</a>
			</li>
			<li class="item">
				<a href="/piezas.html"> 
					<span class="icon-bars"></span>
					Piezas
				</a>
			</li>
			<li class="item">
				<a href="#"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>	
	<div class="site-overlay"></div>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="../index.html"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="profile.html"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<a href="salas.html">
					<li class="item">
						<span class="icon-stats"></span>
						Salas
					</li>
				</a>
				<a href="piezas.html"> 
					<li class="item">
						<span class="icon-bars"></span>
						Piezas
					</li>
				</a>
				<a href="#"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article>
			<article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article><article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article>
			<article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article><article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article>
			<article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article><article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article>
			<article class="piece">
				<a href="" class="land">
					<article class="info">
						<span>
							<p>Nombre de Pieza</p>
							<p>Sala</p>
						</span>
						<div class="metric">
							<p class="temperatura">
								<span class="icon-temp"></span>
								Temperatura: X°
							</p>
							<p class="humedad">
								<span class="icon-droplet"></span>
								Húmedad: X%
							</p>	
						</div>
					</article>	
				</a>			
			</article>
		</div>
	</section>
	</body>
</html>