<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Ámbar</title>

		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="../css/principal.css" />
		<link rel="stylesheet" href="../css/profile.css">
		<link rel="stylesheet" href="../css/pushy.css">
		<link href='../img/1.png' rel='shortcut icon' type='image/png'>

		<script src="../js/jquery-2.1.1.min.js"></script>
		<script src="../js/pushy.js"></script>
	</head>
	<body>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Ámbar
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar"/>
					<input type="submit"/>
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="../index.html"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="profile.html"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<li class="item">
				<a href="salas.html">
					<span class="icon-stats"></span>
					Salas
				</a>
			</li>
			<li class="item">
				<a href="piezas.html"> 
					<span class="icon-bars"></span>
					Piezas
				</a>
			</li>
			<li class="item">
				<a href="#"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>	
	<div class="site-overlay"></div>
	<section class="container center">
		<div class="menu">
				<ul class="piezas.html">
					<a href="../index.html"> 
						<li class="item">
							<span class="icon-home"></span>
							Home
						</li>
					</a>
					<a href="profile.html"> 
						<li class="item">
							<span class="icon-usuario"></span>
							Perfil
						</li>
					</a>
					<a href="salas.html">
						<li class="item">
							<span class="icon-stats"></span>
							Salas
						</li>
					</a>
					<a href="piezas.html"> 
						<li class="item">
							<span class="icon-bars"></span>
							Piezas
						</li>
					</a>
					<a href="#"> 
						<li class="item">
							<span class="icon-left"></span>
							Salir
						</li>
					</a>
				</ul>
		</div>
		<div class="cont2">
			<article class="pic">
				<figure class="profile_pic">
					<img src="../img/user.png" alt="">
				</figure>
				<button class="icon-pencil">
					
				</button>
			</article>
			<article class="data">
					<p>Username</p>
					<p>********</p>
					<p>email@email.com</p>
			</article>
			<article class="pieces">
				<div class="piece">
					<a href="">
						<span class="info">
							<p class="pieza">
								Pieza
							</p>
							<p class="sala">
								Sala
							</p>
						</span>
					</a>
				</div>
				<div class="piece">
					<a href="">
						<span class="info">
							<p class="pieza">
								Pieza
							</p>
							<p class="sala">
								Sala
							</p>
						</span>
					</a>
				</div>
				<div class="piece">
					<a href="">
						<span class="info">
							<p class="pieza">
								Pieza
							</p>
							<p class="sala">
								Sala
							</p>
						</span>
					</a>
				</div>
				<div class="piece">
					<a href="">
						<span class="info">
							<p class="pieza">
								Pieza
							</p>
							<p class="sala">
								Sala
							</p>
						</span>
					</a>
				</div>
			</article>
		</div>
	</section>
	</body>
</html>